<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053827432476-tse6u2h92v852u39nncbqlg4lglodfn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053827432476-tse6u2h92v852u39nncbqlg4lglodfn2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053827432476-433lslhgapmi47mldum42rkj1j2gk401.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSzqZhSYleo5lg-O38rQXesdWKA9YXuvA</string>
	<key>GCM_SENDER_ID</key>
	<string>1053827432476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.createwealth.localportalter</string>
	<key>PROJECT_ID</key>
	<string>localportcloud</string>
	<key>STORAGE_BUCKET</key>
	<string>localportcloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053827432476:ios:5d8f4ba0d88a671e891fd9</string>
	<key></key>
	<string></string>
</dict>
</plist>
